cffi
cairocffi
coloredlogs
cryptography>3.3.2
dill
fabric>=2.6.0
fabric3
funcsigs
grip>=4.5.2
jinja2
jsmin
markdown
matplotlib
networkx>=2.6
numpy
pandas
pygments>=2.7.4
pypng
readline
sh
scipy
termcolor
terminaltables
weasyprint
